<p id="notice"><%= notice %></p>

<h2><%= @host.name %></h2>

<p>
  <%= @host.description %>
</p>

<%= link_to 'Edit', edit_host_path(@host), :class => 'btn' %>

<h3>Backups</h3>

<table class="backups table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Log</th>
  </tr>
  <% @host.backups.each do |backup| %>
    <tr>
      <td><%= backup.id %></td>
      <td><%= format_datetime_to_iso(backup.created_at) %></td>
      <td><%= truncate(backup.log) %></td>
    </tr>
  <% end %>
</table>
