<h1>Listing backups</h1>

<table>
  <tr>
    <th>Log</th>
    <th>Host</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @backups.each do |backup| %>
  <tr>
    <td><%= backup.log %></td>
    <td><%= backup.host_id %></td>
    <td><%= link_to 'Show', backup %></td>
    <td><%= link_to 'Edit', edit_backup_path(backup) %></td>
    <td><%= link_to 'Destroy', backup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Backup', new_backup_path %>
